<!DOCTYPE html>
<html lang="en" ng-app="RegApp">
    <head>
        <meta charset="UTF-8">
        <title>Registration</title>
        <!-- load lib's CSS can JS -->
        <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.css">
        <!-- <link rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.css"> -->
        
        <link rel="stylesheet" href="/libs/font-awesome/css/font-awesome.css">
        <script src="/libs/jquery/dist/jquery.js"></script>
        <script src="/libs/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/libs/angular/angular.js"></script>
        <script src="/libs/bower-angularjs\angular-animate.js"></script>
<!--C:\Users\PR043\Documents\GitHub\fsf17_test1\bower_components\bower-angularjs\angular-animate.js-->
        <!-- load application -->
        <link rel="stylesheet" href="/index.css">
        <script src="/index.js"></script>
        <script src="/reg.js"></script>
        <title>Document</title>

        
        <!-- loading the app -->
        <script src="/index.js"></script>

    </head>
    <body ng-controller="RegCtrl as regCtrl">
            <div class="container">
            <div class= "col-md-8 col-md-offset-3">
            <div class="form-group">
            <h2>Registration</h2>   
            <form name="registrationForm" novalidate >
            <table>
                <div>
                    <div>Name:</div>
                    <div>
                        <input type="text" name="name" id="name" required  size="50"
                            ng-model="regCtrl.name" class="form-control"
                            placeholder="Please enter your name">
                    </div>
                </div>
                <br>
                <div>
                    <div>Gender</div>
                      <!-- <div class = "radio"> -->
                            <!-- <div class="btn-group btn-group-toggle" ng-model="regCtrl.gender" > -->
						<!-- <label class="btn btn-primary active">
							<input type="radio" name="gender"  
								ng-model="regCtrl.gender" id="option1" ng-value="Male" autocomplete="off" checked >
                            <code>M</code>
                            Male
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="gender" 
								ng-model="regCtrl.gender"  id="option2" ng-value="Female" autocomplete="off" >
                            <code>F</code>
                            Female
                        
                        </label> -->
                      <!-- </div> -->
                      <div class="btn-group btn-group-toggle">
                      <label  class="btn btn-primary">
							<input type="radio" name="regCtrl.gender" id="Male" value="Male" required
								ng-model="regCtrl.gender" autocomplete="off" checked>  Male
					
						</label>
						<label class="btn btn-primary">
							<input type="radio" name="regCtrl.gender" id="Female" value="Female" required
								ng-model="regCtrl.gender" autocomplete="off">  Female
						
						</label>
          
                    </div>
                      <p></p>
                <div>
                    <div>Date of Birth:</div>
                       <div> 
                           <input type="date" name="dob" id = "dob" class="form-control" required ng-model = regCtrl.dob max="{{minAge | date:'yyyy-MM-dd'}}"/></div>
                         <span ng-show="registrationForm.$dirty && registrationForm.dob.$invalid">You must be at least 18 years old. </span>
                </div>
                <div>
                    <p></p>
                    Contact No:
                    <div><input type = "text" name="contact" class="form-control" id = "contact" required ng-pattern ="/^[68-9][0-9]{7}$/" placeholder = "Local phone no." ng-model="regCtrl.contact">   
                    <span ng-show="registrationForm.contact.$error.pattern">Please enter a valid number</span>
                        <p></p>
                    </div>
                    Email:
                    <div><input type = "text" name = "email" id ="email" class="form-control" required  ng-pattern ="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-model = "regCtrl.email"></div>
                    <!--<span ng-show="registrationForm.$dirty && registrationForm.email.$error.required">This is a required field</span>-->
                    <span ng-show="registrationForm.$dirty && registrationForm.email.$invalid">Please enter your email address </span><br/><br/>     
                </div>
                 <div> 
                    Address
                    <div> 
                        
                        <input type="text" name="address" id="address" required class="form-control" size="50" ng-model="regCtrl.address" </div>
                          
                </div>
                <div>                              
                    <p></p>
                    Country
                    <div>
                        <input type="text" name="country" id="country" required  class="form-control"size="50" ng-model="regCtrl.country" placeholder="Country of Residence">
                        </div>
                </div>
                <div>
                    <p></p>
                    Password:
                    <div>
                        <input type="password" name="password" id="password" required class="form-control" ng-pattern ="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/"  size="50"
                            ng-model="regCtrl.password">  
                    <span ng-show="registrationForm.password.$error.pattern">Please enter a valid password combination</span>
                    </div>
                </div>

                <div>
                    <p></p>
                    <div>
                        <button type="submit" ng-disabled="registrationForm.$invalid" id="regBtn" class="btn btn-success form-control" ng-click="regCtrl.placeReg()">
                            Submit
                        </button>
                    </div>
                </div>
            </table>
    
            <h4>{{ regCtrl.status }}</h4>

        </form>

            </div>
            </div>
            </div>
            
    </body>
</html>